@charset "UTF-8";
@import-normalize;
* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", Heiti, 黑体, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  background-color: #f6f6f6;
}

.icon {
  width: 1em;
  height: 1em;
}

:focus {
  outline: none;
}

button,
input {
  font: inherit;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.oneLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

font{
  
}